.nav-link{
    display: flex;
    margin-left: 100px;
    /* padding-left: 20px; */

    
}
.btn-1{
    margin-left: 100px;
}
.d-block{
    width:50px;
    height: 500px;
}
.container{
    display: flex;
    padding: 10vw;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
.tech-card{
    margin-top: 50px;
    /* height: 100px; */
}
.card{
    /* height: 100px; */
}
